* {
    margin: 0;
    padding: 0;
    }

body {
    background-color: lightgrey;
    background-image: url('../images/squared_metal_blue.png');
    background-repeat: repeat;
    }

div.center {
    margin: 0 auto;
    width: 920px;
    }

header {
    float: none;
    height: 205px;
    margin: 60px auto 0;
    position: relative;
    width: 920px;
    }

div#title-wrapper {
    background-color: slategrey;
    background-color: #707D90;
    background-color: #005088;
    box-shadow: 0px 2px 5px #000;
    height: 155px;
    margin: 0 auto;
    width: 920px;
    }

header h1 {    
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    font-weight: normal;
    margin: 0 auto;
    position: relative;
    top: 10px;
    text-align: center;
    text-shadow: 1px 1px 2px #777;
    width: 320px;
    }

header img {
    float: left;
    font-family: sans serif;
    height: 90px;
    margin-top: 29px;
    margin-left: 40px;
    width: 100px;
    }

div.clear {
    clear: both;
    }

div#nav-wrapper {
    position: absolute;
      bottom: 10px;
      left: 0;
    width: 100%;
    }

nav {
    margin: 0 auto;
    width: 770px;
    }

nav ul {
    list-style: none;
    }

nav ul li {
//    background-color: rgb(255, 255, 255);
//    background-color: rgba(255, 255, 255, 0);
    float: left;
    font-family: sans serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 20px;
    }

nav ul li a {
    color: black;
    display: block;
    float: left;
    outline: none;
    padding: 5px;
    text-decoration: none;
    }

nav ul li a:active {
    background-color: black;
    border-radius: 5px;
    color: white;
    }

nav ul li:last-child {
    margin-right: 0;
    }

nav ul li.active {
    background-color: rgba(140, 140, 140, 0.7);
    border-radius: 5px;
    color: #222;
    box-shadow: inset 0px 0px 2px #000;
    padding: 5px;
    }

nav ul li:hover {
    background-color: rgba(100, 100, 100, 1);
    border-radius: 5px;
    color: rgb(220, 220, 220);
    cursor: pointer;
    }

main {
    box-shadow: 0px -2px 5px #000;
    float: left;
    width: 920px;
    }

section#benefits {
    background-color: slategrey;
    background-color: white;
    height: 350px;
    padding-top: 20px;
    }

div#left {
    float: left;
    height: 100%;
    width:50px;
    }

div#left img {
    float: left;
    margin-top: 150px;
    width: 50px;
    }

div#left img:hover {
    background-color: #eee;
    cursor: pointer;
    }

div.text-wrapper {
    float: left;
    height: 320px;
    padding: 10px 10px 10px 10px;
    position: relative;
    width: 420px;
    }

section#benefits h2, 
section#benefits h3 {
    color: #222;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    }

section#benefits p {
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    }

section#benefits a.vote {
    position: absolute;
      bottom: 10px;
      left: 160px;
    width: 115px;
    }

section#proof a.vote {
    margin-top: 20px;
    }

a.vote {
    background-color: #e4701e;
    box-shadow: 1px 2px 3px #000;
    border-radius: 5px;
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    }

a.vote:hover {
    background-color: silver;
    background-color: rgb(150, 150, 150);
    background-color: #0066cc;
    background-color: #089F39;
    background-color: #64310D;
    color: white;
    }

a.vote:active {
    background-color: black;
    color: white;
    }

section#benefits figure {
    border: 1px solid black;
    float: left;
    height: 290px;
    margin-top: 40px;
    position: relative;
    width: 375px;
    }

section#benefits figure img {
    height: 220px;
    margin: 10px;
    width: 355px;
    }

section#benefits figure figcaption {
    font-size: 12px;
    font-style: italic;
    padding: 5px;
    position: absolute;
      bottom: 5px;
      left: 0;
    text-align: center;
    }

div#right {
    float: right;
    height: 100%;
    width:50px;
    }

div#right img {
    float: right;
    margin-top: 150px;
    width: 50px;
    }

div#right img:hover {
    background-color: #eee;
    cursor: pointer;
    }

section#facts {
    background-color: #fff;
    background-color: slategrey;
    background-color: #707D90;
    background-color: #005088;
    color: #eee;
    height: 280px;
    padding-bottom: 20px;
    }

section#facts h2 {
    display: none;
    }

section#facts figure#new-jobs {
    float: left;
    height: 250px;
    padding: 20px;
    width: 267px;
    }

section#facts figure#new-jobs figcaption {
    font-family: sans-serif;
    font-size: 14px;
    }

section#facts figure#new-jobs figcaption span {
    font-size: 16px;
    font-weight: bold;
    }

section#facts figure#new-jobs img {
    height: 160px;
    margin-left: 60px;
    margin-top: 25px;
    width: 160px;
    }

section#facts figure#approval-rate {
    border-right: 1px dashed #aaa;
    border-left: 1px dashed #aaa;
    font-family: sans-serif;
    font-size: 14px;
    float: left;
    height: 240px;
    padding: 20px;
    width: 264px;
    }

section#facts figure#approval-rate img {
    height: 170px;
    margin-left: 20px;
    margin-top: 15px;
    width: 230px;
    }

section#facts figure#approval-rate span {
    font-size: 16px;
    font-weight: bold;
    }

section#facts figure#oil-day {
    font-family: sans-serif;
    font-size: 14px;
    float: left;
    height: 240px;
    padding: 20px;
    width: 260px;
    }

section#facts figure#oil-day span {
    font-size: 16px;
    font-weight: bold;
    }

section#facts figure#oil-day img {
    height: 160px;
    margin-left: 60px;
    margin-top: 25px;
    width: 160px;
    }

section#proof {
    background-color: slategrey;
    background-color: white;
    height: 320px;
    padding: 20px;
    }

section#proof h2 {
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    }

section#proof img {
//    background-color: pink;
    float: left;
    height: 240px;
    margin-top: 20px;
    margin-right: 40px;
    width: 240px;
    }

section#proof div#quote {
//    background-color: silver;
    float: left;
    height: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 270px;
    }

div#quote h3 {
    font-family: sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    }

div#quote h4 {
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-left: 40px;
    }

section#personalia {
//    background-color: lightblue;
    float: left;
    height: 220px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 260px;
    }

section#personalia h3 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
    }

section#personalia h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 10px;
    }

section#personalia p {
    font-family: sans-serif;
    font-size: 14px;
    margin: 10px 15px 10px 15px;
    }

footer {
    background-color: silver;
    background-color: #707D90;
    background-color: #005088;
    box-shadow: 0px 2px 5px #000;
    color: white;
    float: left;
    font-family: sans-serif;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 920px;
    }

div#footer-wrapper {
    margin: 0 auto;
    height: 100px;
    width: 750px;
    }

footer h5 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    text-decoration: underline;
    }

footer p {
    font-size: 12px;
    }

div#about {
    float: left;
    }

div#contact {
    float: left;
    margin-left: 150px;
    }

div#socials {
    float: left;
    height: 50px;
    margin-left: 110px;
    margin-top: 30px;
    }

div#socials img {
    height: 40px;
    width: 40px;
    }

div#socials img:hover {
    cursor: pointer;
    }

div#title-wrapper,
section#facts,
footer {
    background-color: #2E4D72;
    }

//blue: #005088
//orange: #e4701e
//third: #089F39
//brown: #64310D